.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.location{
    
    display: flex;
    flex-direction: column;
    padding: 24px 0px;
}

h1{
    margin: 0;
    padding: 0;
}

.icon{
    padding: 20px 0px;
}

.temp{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
}