.weatherApp{
    background-color: #f3f3f3;
    color: #666;
    max-width: 550px;
    margin: 0 auto;
    padding: 24px;
}

form{
    display: flex;
    flex-direction: row;
}

input[type=text]{
    padding: 12px;    
    min-width: 85%;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=text]:focus{
    border: 1px solid #666;
}

button{
    
    width: 40px;
    
    border-radius: 4px ;
    padding: 10px;
    margin-left: 12px;
    border: 1px solid #ccc;
}